
.card{
    /* Add shadows to create the "card" effect */
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 2px 4px 4px 2px rgba(0,0,0,0.2);
}

.headerMargin {
    padding-top: 2px;
    padding-left: 15px;
    display: inline-block;
}

.dateTime {
    padding-top: 2px;
    padding-left: 5px;
    display: inline-block;
    color: grey;
}

.ticketStatus {
    padding-top: 2px;
    padding-left: 5px;
    display: inline-block;
    color: grey;
}

.ticketStatus:hover {
    cursor: pointer; 
}

.cardText {
    max-width:100%;
    padding-left: 15px;
    padding-right: 15px;
}

.replyRectangle {
    vertical-align: central;
    width: 100%;
    height: 30px;
    background-color: #f2f2f2;
}

.divideLine {
    height: 1px;
    width: 100%;
    background-color: #dddddd;
}

.replyTextMargin {
    margin-left: 15px;
    padding-top: 5px;
    display: inline-block;
}

.replyTextMargin:hover {
    color: deepskyblue;
    cursor: pointer;
}

.statusRect {
    width: 100%;
    height: 5px;
}





.pageDivideLeft {
    overflow: auto;
    width: 50%;
    float: left;
    padding-right: 18px;
    padding-left: 2px;
}

.pageDivideRight {
    overflow: auto;
    width: 50%;
    float: right;
    padding-right: 18px;
    padding-left: 2px;
}

.commentText {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
}

.deleteButton {
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 15px;
    display: inline-block;
    float: right;
}

.deleteButton:hover {
    color: deepskyblue;
    cursor: pointer;
}

.themeText {
    color: grey;
    display: inline-block;
    padding-bottom: 10px;
    padding-right: 5px;
}

.themeText:hover {
    text-decoration: underline;
    cursor: pointer;
}

.systemMessageText {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.inputTicketDiv {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    width: 100%;
}

.inputTicketText {
    min-width: 100%;
    height: 110px;
    transition: 0.3s;
}

.selectType {
    width: 75%;
    display: inline-block;
    height: 20px;
}

.addButtonDiv {
    width: 20%;
    display: inline-block;
    background-color: #dddddd;
    height: 20px;
    text-align: center;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
}

.addButtonDiv:hover {
    background-color: dodgerblue;
    color: white;
    cursor: pointer;
}

.group-icon {
    width: 12px;
    margin-right: 10px;
    vertical-align: baseline;
}

.ticket-time {
    color: gray;
    text-align: right;
    font-size: 10px
}

.ticket-text {
    font-size: 10px;
    margin-bottom: 0px;
}

.shade {
    background-color: #DCDCDC;
}

.teamHover{
}

.teamHover:hover{
    cursor: pointer;
}